<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 
  </head>

  <body class="bg-qq-primary font-inter text-qq-secondary">
    <header id="header"></header>
    <div class="pt-28 flex items-center justify-center text-3xl font-semibold italic">Quantum Quarters</div>
    <div class="pt-1 flex items-center justify-center text-xl font-semibold italic">About Us</div>
    <hr style="border: 1px solid black; width: 50%; margin: 35px auto;">
    <div class="flex items-center justify-center text-m font-semibold">Franchise System</div>
    <div style="display: flex;padding-top:25px;">
      <p style="padding-top:15px;padding-left:250px;padding-right:250px;text-align: center;font-weight:600;">Pada tahun 1971, Jon Bi mendirikan perusahaan yang awalnya bernama QiuQiu Associates, dengan visi untuk memanfaatkan teknologi terbaru - kemudian mesin faks - untuk memberikan layanan dengan kualitas terbaik. 
        Sejak saat itu, Quantum Quarters terus melanjutkan peran inovatornya. Pada tahun 1973, Quantum Quarters menawarkan program jaminan rumah nasional pertama.
        Beberapa tahun kemudian, perusahaan memperkenalkan QQ® Sellers Security® Plan, sebuah program unik yang menawarkan penjual berkualitas harga dan tanggal penjualan tertentu, 
        Saat ini, Quantum Quarters terus menjadi pelopor dalam industri ini dengan memanfaatkan kekuatan internet untuk menawarkan penawaran unik kepada rekanan penjualan dan konsumen. 
        QQ memiliki jaringan internasional yang meliputi lebih dari 2250 kantor dengan 39.000 Member Broker dan Marketing Associate di 32 negara.
    </div>
    <hr style="border: 1px solid black; width: 50%; margin: 35px auto;">
    <div class="flex items-center justify-center text-m font-semibold">Vision & Mission</div>
    <div style="border-radius: 20px; padding-left:20px;">
      <img src=".\asset\Vision.png" style ="width: 75%; height: 75%; padding-top:15px;padding-left:350px">
    </div>
</body>
</html>
    