<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter | Admin Add Data</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("#footer").load("footeraa.html");
        });
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

</head>

<body class="bg-qq-primary font-inter text-qq-secondary">
    <div class="flex flex-row bg-qq-secondary py-[3%] items-center">
        <image src="./asset/qq-logo.png" class="pl-[2%]"></image>
        <p class="text-white text-5xl pl-[2.3%] font-playfair">Admin | Add Agent</p>
        <div class="ml-auto pr-[4%] flex items-center">
            <p class="text-white text-3xl font-playfair pr-9">Dashboard</p>
            <a href="admin-dashboard.html">
                <image src="./asset/prev.png" class="pl-[2%]"></image>
            </a>
        </div>
    </div>
    <div class="mx-[26%]">
        <div class="mt-[5%] py-[2%] bg-qq-secondary align-middle">
            <div class="flex text-qq-primary font-semibold">
                <div class="w-[20%] text-2xl text-center">Agent Form</div>
            </div>
        </div>
        <div class="shadow-xl">
            <form id="formData">
                <div class=" py-[2%] mt-[3%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Profile Picture</div>
                    <label class="w-[40%] text-2xl pl-[1.5%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="imageinput" type="file" class="pl-3 rounded-md" min="0">
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Name</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="name" type="text" class="pl-3 rounded-md" placeholder="Calvin" min="0" name="Name">
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Phone Number</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="phone" type="text" class="pl-3 rounded-md" placeholder="0851xxxx2323" min="0"
                            name="Phone">
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Whatsapp</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="whatsapp" type="text" class="pl-3 rounded-md" placeholder="0851xxxx2323" min="0"
                            name="Whatsapp">
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Branch</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="branch" type="text" class="pl-3 rounded-md" placeholder="test01" min="0"
                            name="Branch">
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Address</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="address" type="text" class="pl-3 rounded-md" placeholder="Jl Gajah" min="0"
                            name="Address">
                    </label>
                </div>
                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Gender</div>
                    <div class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl" y>
                        <label class="flex bg-qq-primary cursor-pointer ">
                            <input type="radio" name="gender" value="male">
                            <i class="pl-2 font-inter font-semibold">Male</i>
                        </label>

                        <label class="pl-[12%] flex bg-qq-primary cursor-pointer ">
                            <input type="radio" name="gender" value="female">
                            <i class="pl-2 font-inter font-semibold">Female</i>
                        </label>
                    </div>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Email</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="email" type="text" class="pl-3 rounded-md" placeholder="person@gmail.com" min="0" name>
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <div class="w-[30%] text-2xl pl-[6%]">Password</div>
                    <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                        <input id="password" type="text" class="pl-3 rounded-md" placeholder="Password" min="0"
                            name="Password">
                    </label>
                </div>

                <div class=" py-[2%] align-middle flex text-qq-secondary">
                    <button id="addButton"
                        class="text-qq-primary bg-qq-secondary w-36 h-9 ml-auto mr-7 mt-5 text-center rounded-2xl">Add</button>
                </div>
                <div class="border-2 border-black opacity-30"></div>
            </form>
        </div>
    </div>
    <div id="footer"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('addButton').addEventListener('click', function () {
                const formData = new FormData();
                try {
                    // Get the file input element
                    const fileInput = document.getElementById('imageinput');

                    const name = document.getElementById('name').value;
                    formData.append('name', name);

                    const address = document.getElementById('address').value;
                    formData.append('address', address);

                    const gender = document.querySelector('input[name="gender"]:checked');
                    formData.append('gender', gender.value);
                    
                    const email = document.getElementById('email').value;
                    formData.append('email', email);

                    const password = document.getElementById('password').value;
                    formData.append('password', password);

                    formData.append('type', 1)
                    
                    const branch = document.getElementById('branch').value;
                    formData.append('branchId', branch);

                    const phone = document.getElementById('phone').value;
                    formData.append('phoneNumber', phone);

                    const whatsapp = document.getElementById('whatsapp').value;
                    formData.append('whatsapp', whatsapp);

                    // Check if a file has been selected
                    if (fileInput.files.length > 0) {
                        // A file has been selected
                        formData.append('image', fileInput.files[0]);
                    } else {
                        // No file has been selected
                        console.log('No file selected');
                    }

                    const token = localStorage.getItem("authToken");

                    event.preventDefault();

                    // Create a new XMLHttpRequest object
                    const xhr = new XMLHttpRequest();

                    // Configure the request
                    xhr.open('POST', 'http://localhost:3000/employee');

                    xhr.setRequestHeader('authorization', `Bearer ${token}`);

                    // Set up a listener to handle the response
                    xhr.onload = function() {
                        if (xhr.status >= 200 && xhr.status < 300) {
                            // Request was successful, handle response here
                            alert('Agent added successfully');
                        } else {
                            // Request failed
                            alert('Request failed with status:', xhr.status);
                        }
                    };

                    // Set up a listener to handle errors
                    xhr.onerror = function() {
                        alert('Request failed');
                    };

                    // Send the request with the FormData object as the body
                    xhr.send(formData);
                    const delay = Date.now() + 6000; 
                    while (Date.now() < delay) {
                        // Do nothing, just wait
                    }
                } catch (error) {
                    
                }
            });
        });
    </script>
</body>

</html>