<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter | Agent Add Listing</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#footer").load("footeraa.html"); 
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('backButton').addEventListener('click', function () {
                history.back();
            });
        });
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
  </head>
  <body class="bg-qq-primary font-inter text-qq-secondary">
    <div class="flex flex-row bg-qq-secondary py-[3%] items-center">
        <image src="./asset/qq-logo.png" class="pl-[2%]"></image>
        <p class="text-white text-5xl pl-[2.3%] font-playfair">Agent | Add Listing</p>
        <div id="backButton" class="ml-auto pr-[4%] flex items-center">
            <image src="./asset/prev.png" class="pl-[2%]"></image>
        </div>
    </div>
    <div class="mx-[26%]">
        <div class="mt-[5%] py-[2%] bg-qq-secondary align-middle">
            <div class="flex text-qq-primary font-semibold">
                <div class="w-[20%] text-2xl text-center">Add Listing</div>
            </div>
        </div>
        <div class="shadow-xl">
            
            <div class="pt-[5%] py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Title</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="title" type="text" class="pl-3 rounded-md" placeholder="Title" min="0">
                </label>
            </div>
            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Description</div>
                <label class="w-[40%] pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <textarea id="desc" class="pl-3 rounded-md w-[90%]" placeholder=". . ." min="0"></textarea>
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Type</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="type" type="text" class="pl-3 rounded-md" placeholder="House, Apartment, Villa, ..." min="0">
                </label>
            </div>
            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">City</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="area" type="text" class="pl-3 rounded-md" placeholder="Bandung, Jakarta,..." min="0">
                </label>
            </div>

            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Price</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="price" type="text" class="pl-3 rounded-md" placeholder="1000000000" min="0">
                </label>
            </div>

            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Bedroom</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="bedroomCount" type="text" class="pl-3 rounded-md" placeholder="1,2,3,..." min="0">
                </label>
            </div>

            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Bathroom</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="bathroomCount" type="text" class="pl-3 rounded-md" placeholder="1,2,3,..." min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Land Area</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="landArea" type="text" class="pl-3 rounded-md" placeholder="100" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Garage</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="garage" type="text" class="pl-3 rounded-md" placeholder="false, true" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Floor Level</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="floorLevel" type="text" class="pl-3 rounded-md" placeholder="1,2,3,..." min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Images 1</div>
                <label class="w-[40%] text-2xl pl-[1.5%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="images1" type="file" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Images 2</div>
                <label class="w-[40%] text-2xl pl-[1.5%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="images2" type="file" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Images 3</div>
                <label class="w-[40%] text-2xl pl-[1.5%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="images3" type="file" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Images 4</div>
                <label class="w-[40%] text-2xl pl-[1.5%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="images4" type="file" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Images 5</div>
                <label class="w-[40%] text-2xl pl-[1.5%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="images5" type="file" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <button id="addButton" class="text-qq-primary bg-qq-secondary w-36 h-9 ml-auto mr-7 mt-5 text-center rounded-2xl">Confirm</button>
            </div>
            <div class="border-2 border-black opacity-30"></div>

        </div>
        
    </div>
    <div id="footer"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('addButton').addEventListener('click', function () {
                try {
                    const formData = new FormData();

                    const title = document.getElementById('title').value;
                    formData.append('title', title);

                    const desc = document.getElementById('desc').value;
                    formData.append('desc', desc);

                    const type = document.getElementById('type').value;
                    formData.append('type', type);

                    const area = document.getElementById('area').value;
                    formData.append('area', area);

                    const price = document.getElementById('price').value;
                    formData.append('price', price);

                    const bedroomCount = document.getElementById('bedroomCount').value;
                    formData.append('bedroomCount', bedroomCount);

                    const bathroomCount = document.getElementById('bathroomCount').value;
                    formData.append('bathroomCount', bathroomCount);

                    const landArea = document.getElementById('landArea').value;
                    formData.append('landArea', landArea);

                    const garage = document.getElementById('garage').value;
                    formData.append('garage', garage);

                    const floorLevel = document.getElementById('floorLevel').value;
                    formData.append('floorLevel', floorLevel);

                    const images = document.querySelectorAll('input[type="file"]');

                    images.forEach((imageInput, index) => {
                        const files = imageInput.files;
                        if (files.length > 0) {
                            for (const file of files) {
                            formData.append('images', file, `image_${index}`);
                            }
                        }
                    });

                    const token = localStorage.getItem("authToken");

                    event.preventDefault();

                    // Create a new XMLHttpRequest object
                    const xhr = new XMLHttpRequest();

                    // Configure the request
                    xhr.open('POST', 'http://localhost:3000/property');

                    xhr.setRequestHeader('authorization', `Bearer ${token}`);

                    // Set up a listener to handle the response
                    xhr.onload = function() {
                        if (xhr.status >= 200 && xhr.status < 300) {
                            const jsonResponse = JSON.parse(xhr.responseText);
                            const agentId = jsonResponse.agentId;
                            alert('Property added successfully');
                            window.location.href = `agent-main.html?agentId=${agentId}`;
                        } else {
                            // Request failed
                            alert('Request failed with status:', xhr.status);
                        }
                    };

                    // Set up a listener to handle errors
                    xhr.onerror = function() {
                        alert('Request failed');
                    };

                    // Send the request with the FormData object as the body
                    xhr.send(formData);
                    const delay = Date.now() + 7000; 
                    while (Date.now() < delay) {
                        // Do nothing, just wait
                    }
                } catch (error) {
                    alert(error);
                }
                
            });
        });
    </script>
  </body>
</html>