<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter | Agent Edit Data</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#footer").load("footeraa.html"); 
        });
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
  </head>
  <body class="bg-qq-primary font-inter text-qq-secondary">
    <div class="flex flex-row bg-qq-secondary py-[3%] items-center">
        <image src="./asset/qq-logo.png" class="pl-[2%]"></image>
        <p class="text-white text-5xl pl-[2.3%] font-playfair">Agent | Edit Data</p>
        <div class="ml-auto pr-[4%] flex items-center">
            <a href="agent-main.html"><image src="./asset/prev.png" class="pl-[2%]"></image></a>
        </div>
    </div>
    <div class="mx-[26%]">
        <div class="mt-[5%] py-[2%] bg-qq-secondary align-middle">
            <div class="flex text-qq-primary font-semibold">
                <div class="w-[20%] text-2xl text-center">Edit Data</div>
            </div>
        </div>
        <div class="shadow-xl">
            <div class=" py-[2%] mt-[3%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Profile Picture</div>
                <p class="w-[40%] text-2xl pl-[3%] flex rounded-l-xl h-60">
                    <image class="h-full" src="./asset/agent1.png"></image>
                </p>
            </div>
            
            <div class=" py-[2%] mt-[3%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Username</div>
                <p class="w-[40%] text-2xl pl-[3%] flex rounded-l-xl">
                    Joseph Gerla
                </p>
            </div>
            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Telp</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="telp" type="text" class="pl-3 rounded-md" value="ganti dengan apa yg current" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Whatsapp</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="whatsapp" type="text" class="pl-3 rounded-md" value="082128818582" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Branch</div>
                <p class="w-[40%] text-2xl pl-[3%] flex rounded-l-xl">
                    Joseph Gerla
                </p>
            </div>
            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Address</div>
                <p class="w-[40%] text-2xl pl-[3%] flex rounded-l-xl">
                    Joseph Gerla
                </p>
            </div>
            
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Gender</div>
                <div class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <label class="flex bg-qq-primary">
                        <input type="radio" name="gender" value="Male" checked="checked">
                        <i class="pl-2 font-inter font-semibold">Male</i>
                    </label>
            
                    <label class="pl-[12%] flex bg-qq-primary ">
                        <input type="radio" name="gender" value="Female" disabled>
                        <i class="pl-2 font-inter font-semibold">Female</i>
                    </label>
                </div>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Email</div>
                <p class="w-[40%] text-2xl pl-[3%] flex rounded-l-xl">
                    sayakurir@gmail.com
                </p>
            </div>

 
            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">Current Password</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="currpassword" type="password" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <div class="w-[30%] text-2xl pl-[6%]">New Password</div>
                <label class="w-[40%] text-2xl pl-[3%] flex bg-qq-primary text-gray-700 rounded-l-xl">
                    <input id="newpassword" type="password" class="pl-3 rounded-md" min="0">
                </label>
            </div>

            <div class=" py-[2%] align-middle flex text-qq-secondary">
                <button href="" class="text-qq-primary bg-qq-secondary w-36 h-9 ml-auto mr-7 mt-5 text-center">Confirm</button>
            </div>
            <div class="border-2 border-black opacity-30"></div>

        </div>
        
    </div>
    <div id="footer"></div>
  </body>
</html>