<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter | Agent Dashboard</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
  </head>
  <body class="bg-qq-primary font-inter text-qq-secondary">
    <div class="flex flex-row bg-qq-secondary py-[3%] items-center">
        <image src="./asset/qq-logo.png" class="pl-[2%]"></image>
        <p class="text-white text-5xl pl-[2.3%] font-playfair">Agent | Dashboard</p>
    </div>
    <div class="flex mt-[4%] mx-[8%]">
        <div class="w-[20%] bg-qq-primary shadow-2xl rounded-t-full rounded-b-2xl">
            <image src="./asset/koja.jpg" class="border-6 border-qq-secondary w-full rounded-full"></image>
            <p class="text-4xl text-center my-[3%]">Alexander Juan</p>
            <div class="border-2 border-black opacity-30 scale-90 my-8"></div>
            <div class="items-center align-middle pl-[12%]">
                <div class="flex flex-row items-center">
                    <div class="w-[30%] justify-center items-center align-middle">
                        <image src="./asset/PhoneBlack.png" class="p-[3%] w-10"></image>
                    </div>
                    <p class="w-[70%]">082128818582</p>
                </div>
                <div class="flex flex-row items-center">
                    <div class="w-[30%]">
                        <image src="./asset/WhatsAppBlack.png" class="p-[3%] w-10"></image>
                    </div>
                    <p class="w-[70%]">082128818582</p>
                </div>
                <div class="flex flex-row items-center">
                    <div class="w-[30%]">
                        <image src="./asset/email.png" class="p-[3%] w-10"></image>
                    </div>
                    <p class="w-[70%]">susrini@gmail.com</p>
                </div>
            </div>
            <a href="agent-add-listing.html" class="">
                <div class="text-white bg-qq-secondary mx-12 my-[5%] mb-12 border-2 text-center align-middle rounded-full text-2xl py-[1%] hover:cursor-pointer">EDIT</div>
            </a>
        </div>
        <div class="w-[80%]">
            <div class="ml-[4%]">
                <a href="agent-add-listing.html" class="">
                    <div class="text-qq-secondary border-qq-secondary border-2 text-center align-middle w-[20%] rounded-full text-2xl py-[1%] hover:cursor-pointer">New Listing</div>
                </a>
                <div class="mt-[3%] py-[2%] bg-qq-secondary align-middle">
                    <div class="flex text-qq-primary font-semibold">
                        <div class="w-[23%] text-2xl text-center">ID Listing</div>
                        <div class="w-[23%] text-2xl text-center">Tgl Listing</div>
                        <div class="w-[31%] text-2xl  text-center">Tgl Approve</div>
                        <div class="w-[23%] text-2xl  text-center">Status</div>
                    </div>
                </div>
                <div class=" shadow-xl">
                    <div class=" py-[2%] align-middle flex text-qq-secondary">
                        <div class="w-[23%] text-lg text-center">QQ-001</div>
                        <div class="w-[23%] text-lg text-center">22-1-2023</div>
                        <div class="w-[31%] text-lg text-center">-</div>
                        <div class="w-[23%] text-lg text-center font-semibold">Pending</div>
                    </div>
                    <div class="border-2 border-black opacity-30"></div>
                    
                </div>
                
            </div>
        </div>
    </div>
  </body>
</html>