<footer class="bg-qq-secondary h-50">
    <div class="flex">
      <image class="object-fill h-10 w-20 ml-4 mt-4 mr-2" src="./asset/qq-logo.png"></image>
      <text class="font-extrabold font-inter pt-8 text-qq-primary">Quantum Quarters</text>
    </div>
    <div class="ml-5 mt-1">
      <text class="font-light font-inter pt-8 text-qq-primary">Jl. Dipati Ukur No.80, Dago, Kecamatan<br>Coblong, Kota Bandung, Jawa Barat 40132</text>
    </div>
    <div class="flex items-center mt-2">
      <div><image class="object-cover h-5 w-9 ml-4" src="./asset/letter.png"></image></div>
      <div><text class="font-light font-inter italic pt-8 text-qq-primary">info@quantumquarters.com</text></div>
    </div>
    <div class="flex items-center leading-none">
    <div><image class="object-cover h-5 w-9 ml-4" src="./asset/phone.png"></image></div>
    <div><text class="font-light font-inter pt-8 text-qq-primary">(021) 444 6666 / (021) 333 0000</text></div>
    </div>
    <div class="flex leading-none mt-2">
      <a href="https://www.instagram.com/jonathanabi_/"><image class="cursor-pointer object-fill h-12 w-14 ml-4" src="./asset/Instagram Circle.png"></image></a>
      <a href="https://www.facebook.com/jonathan.abi.56?locale=id_ID"><image class="cursor-pointer object-fill h-12 w-14" src="./asset/Facebook.png"></image></a>
      <a href="https://twitter.com/JonathanAbigae4"><image class="cursor-pointer object-fill h-12 w-14" src="./asset/Twitter Circled.png"></image></a>
      <a href="https://www.youtube.com/@LESSERAFIM_official"><image class="cursor-pointer object-fill h-12 w-14" src="./asset/YouTube.png"></image></a>
      <a href="https://www.linkedin.com/in/jonathanabi/"><image class="cursor-pointer object-fill h-12 w-14" src="./asset/LinkedIn Circled.png"></image></a>
    </div>
  </footer>