<header class="bg-qq-secondary h-16 w-auto flex items-center">
    <a href="index.html"><image class="cursor-pointer object-fill h-15 w-20 ml-4" src="./asset/qq-logo.png"></image></a>
    <a href="search.html" class="text-qq-primary ml-20 font-inter hover:no-underline hover:text-white">Property</a>
    <a href="" class="text-qq-primary ml-20 font-inter hover:no-underline hover:text-white">Mortgage Simulation</a>
    <a href="" class="text-qq-primary ml-20 font-inter hover:no-underline hover:text-white">Join Us</a>
    <a href="" class="text-qq-primary ml-20 font-inter hover:no-underline hover:text-white">About Us</a>
  </header>