<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 
  </head>

  <body class="bg-qq-primary font-inter text-qq-secondary">
    <header id="header"></header>
    <div class="pt-28 flex items-center justify-center text-3xl font-semibold italic">Quantum Quarters</div>
    <div class="pt-1 flex items-center justify-center text-xl italic">Join Us As A Marketing </div>
    <div style="padding-top : 30px ;display: flex; justify-content: center; align-items: center;">
      <a href="joinUsBroker.html" style="width: 350px; height: 80px; background-color: rgb(255, 255, 255); border-top-left-radius: 50px; border-bottom-left-radius: 50px;">
        <p style="padding-left:80px;color: rgb(4 54 74);margin: 1; padding-top: 30px;font-weight: bold;">As A Broker Member</p></a>
      <div style="width: 350px; height: 80px; background-color: rgb(4 54 74); border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
        <p style="padding-left:80px;color:rgb(218 255 251); margin: 1; padding-top: 30px;font-weight: bold;">As A Marketing Associate</p></div>
    </div>
    <div style="display: flex;padding-top:25px;padding-left: 12%;">
      <p style="width: 50%; padding-left: 150px; ">Quantum Quarters mempersiapkan dan mendukung semua Marketing Associate hingga siap secara independen untuk beroperasi di lapangan. 
        "Sales System Training" yang diberikan oleh Quantum Quarters mengupayakan pengembangan potensi profesional Marketing Associate.
         Training ini meliputi cara dan teknik-teknik yang rinci dalam melakukan proses jual-beli properti serta tindakan lanjutan-nya.
        Seluruh produk dan servis Quantum Quarters memberikan peluang bagi para Marketing Associate dalam meperlancar pekerjaan sebagai agen properti. 
        Quantum Quarters membuka peluang bagi Marketing Asociate untuk meraih tingkat penghasilan yang tidak terbatas.</p>
      <div style="width: 350px; height: 400px; background-color: rgb(218 255 251) ;border: 2px solid black; border-radius: 20px;">
        <p style ="padding-top : 20px ;display: flex; justify-content: center; align-items: center;color:rgb(4 54 74);font-weight: bold;font-size:22px">Training Info : </p>
        <p style ="padding-top : 10px ;display: flex; justify-content: center; align-items: center;color:rgb(4 54 74);font-size: 42px;">Nicholas C</p>
        <div style="display: flex; align-items: center;padding-left:20px">
          <div style="border-radius: 20px; padding-left:20px">
            <img src=".\asset\PhoneBlack.png" style ="width: 60%; height: 60%; padding-top:10px;">
          </div>
          <p style="padding-top:12px;font-size:20px;font-weight: bold;">(021) 500 - 8000</p>
        </div>
        <p style="padding-left:92px;padding-top:5px;font-size:20px;font-weight: bold;">(021) 200 - 9999</p>
        <div style="display: flex; align-items: center;padding-left:20px">
        <div style="border-radius: 20px; padding-left:20px">
          <img src=".\asset\WhatsAppBlack.png" style ="width: 60%; height: 60%; padding-top:10px;">         
        </div>
        <p style="padding-top:15px;font-size:20px;font-weight: bold;">0811 989 2010</p>
      </div>
      <div style="display: flex; align-items: center;padding-left:65px">
        <div style="border-radius: 20px; padding-left:20px">
          <img src=".\asset\Contact.png" style ="width: 70%; height: 70%; padding-top:10px;">         
      </div>
      </div>
      <div style="display: flex; align-items: center;padding-left:65px">
        <div style="border-radius: 20px; padding-left:20px">
          <img src=".\asset\WA.png" style ="width: 70%; height: 70%; padding-top:10px;">         
      </div>
      </div>
      </div>
</body>
</html>
    