<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter | Login</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script> 
        function typeChanger() { 
            if(document.getElementById("password").type == 'text'){
                document.getElementById("password").type = 'password' 
            }else{
                document.getElementById("password").type = 'text'
            }; 
        } 
      </script> 
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
  </head>
  <body class="bg-qq-secondary font-inter text-qq-secondary">
    <div class="mx-[39%] mt-[12%]">
        <image src="./asset/qq-logo.png" class="scale-90 m-auto"></image>
        <div class="mt-[5%] py-[2%] bg-white align-middle rounded-2xl">
            <div class="pt-[10%] w-full text-2xl text-center">Login</div>
            <div class="py-[4%]">
                <label class="font-inter pl-[3%] justify-center flex text-qq-secondary rounded-l-xl h-12">
                    <input id="email" type="text" class=" border-2 border-qq-secondary pl-3 rounded-md placeholder:text-inherit px-[16%] shadow-xl" placeholder="Email">
                </label>
            </div>
            <div class="py-[4%]">
                <label class="font-inter pl-[3%] justify-center flex text-qq-secondary rounded-l-xl h-12">
                    <input id="password" type="password" class=" border-2 border-qq-secondary pl-3 rounded-md placeholder:text-inherit px-[16%] shadow-xl" placeholder="Password">
                </label>
                <div class="pl-[19%] pt-2 flex flex-row">
                    <input id="checkboxPassword" type="checkbox" class="rounded-md placeholder:text-inherit" onclick="typeChanger()"> <p class="pl-2 text-xs">Show Password</p>
                </div>  
            </div>
            <div class=" py-[2%] align-middle flex text-qq-secondary" id = "sign-in">
                <button href="" class="text-qq-primary bg-qq-secondary w-24 h-9 m-auto mb-[12%] my-2 text-center rounded-lg">Sign In</button>
            </div>
        </div>
        
        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('sign-in').addEventListener('click', function() {
                const email = document.getElementById("email").value
                const password = document.getElementById("password").value
                const formData = new FormData();
                formData.append('email', email);
                formData.append('password', password)
                fetch('http://localhost:3000/login', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.status == 200) { // Berhasil login
                            if (data.result.type == 1) {
                                const token = data.result.token;
                                sessionStorage.setItem("authToken", token);
                                console.log(sessionStorage.getItem("authToken"))
                                window.location.href = `agent-main.html?id=${data.result.id}`
                            } else if (data.result.type == 0){
                                window.location.href = 'admin-dashboard.html'
                            }
                        } else if (data.status == 401){ // Invalid credentials
                            alert('Invalid Credentials')
                        } else { // Internal server error
                            alert('Internal Server Error')
                        }
                    })
            });
        });
    </script>
  </body>
</html>