<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quantum Quarter | PROPERTY TITLE</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="icon" type="image/png" href="./asset/qq-icon.png">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        const queryParams = new URLSearchParams(window.location.search);
        if (queryParams.has('id')) {
            const propertyId = queryParams.get('id');
            $(function () {
                $("#header").load("header.html");
                $("#footer").load("footer.html");
                $("#carousel1").load(`carousel-property.html?id=${propertyId}`);
            });

            const formData = new FormData();
            formData.append('id', propertyId);
            fetch('http://localhost:3000/getdetailedproperty', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    const agent = data.agentResult;
                    console.log(agent);
                    const wa = agent.whatsapp.slice(1);
                    const property = data.data;
                    console.log(property);
                    const myDiv = document.getElementById('results');
                    let htmlCode = `<div class="w-[30%] pr-[3%]">
                                        <div class="outline rounded-lg outline-qq-secondary text-center pt-4">
                                            <p class="text-2xl font-bold ">${property.type} for sale</p>
                                            <p class="font-semibold px-[17%] pt-3 justify-center">${property.title}</p>
                                            <p class="font-light px-[17%] py-3">${property.area}</p>
                                            <div class="flex-grow border-2 border-qq-secondary scale-75"></div>
                                            <p class="font-light text-sm px-[14%] py-3">OFFERS OVER</p>
                                            <p class="text-xl font-bold font-inter">Rp. ${property.price}</p>
                                            <a href="index.html" class="cursor-default">
                                                <div
                                                    class="hover:cursor-pointer bg-qq-secondary text-white align-middle justify-center my-[3%] py-[1%] mx-[22%] text-xs">
                                                    ENQUIRE NOW</div>
                                            </a>
                                            <div class="flex-grow border-2 my-[3%] border-qq-secondary"></div>
                                            <div class="scale-90">
                                                <image src="${agent.profile_path}" class=""></image>
                                                <p class="text-xl font-bold font-inter text-left pt-[3%]">${agent.name}</p>
                                                <p class="font-inter text-left pb-4">Quantum Quarters ${agent.province}</p>
                                                <a href="mailto:${agent.email}">
                                                    <p class="font-inter bg-qq-secondary rounded-full text-qq-primary py-1">Email ${agent.name}</p>
                                                </a>
                                                <a href="https://wa.me/+62${wa}">
                                                    <p class="font-inter py-1 border-2 border-qq-secondary rounded-full my-2">Whatsapp</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-[70%]">
                                        <carousel id="carousel1"></carousel>
                                        <div class="flex flex-row h-[6%] p-[2%] justify-center">
                                            <image class="px-6"
                                                src="${property.images[0]}"></image>
                                            <image class="px-6"
                                                src="${property.images[1]}"></image>
                                            <image class="px-6"
                                                src="${property.images[2]}"></image>
                                            <image class="px-6"
                                                src="${property.images[3]}"></image>
                                            <image class="px-6"
                                                src="${property.images[4]}"></image>
                                        </div>
                                        <div class="flex-grow border-2 border-qq-secondary"></div>
                                        <p class="text-2xl font-bold font-inter">${property.title}</p>
                                        <p class="text-xl font-semibold font-inter my-[2%]">
                                            ${property.desc}
                                        </p>
                                        <div class="flex-grow border-2 border-qq-secondary mb-[3%]"></div>
                                        <p class="text-2xl font-bold font-inter">Specification</p>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Location.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Area</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.area}</p>
                                        </div>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Home.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Type</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.type}</p>
                                        </div>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Ruler.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Land Size</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.landArea}</p>
                                        </div>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Sleeping in Bed.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Bedroom</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.bedroomCount}</p>
                                        </div>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Bathtub.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Bathroom</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.bathroomCount}</p>
                                        </div>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Garage.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Garage</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.garage}</p>
                                        </div>
                                        <div class="flex flex-row  items-center py-[2%]">
                                            <div class="w-[40%] flex flex-row h-12 items-center">
                                                <div class="bg-qq-secondary rounded-2xl">
                                                    <image src="./asset/Stairs Up.png" class="scale-75"></image>
                                                </div>
                                                <p class="pl-[3%] font-semibold">Floor Level</p>
                                            </div>
                                            <p class="font-semibold">:&nbsp;</p>
                                            <p class="font-semibold">${property.floorLevel}</p>
                                        </div>
                                    </div>`;
                    myDiv.innerHTML = htmlCode
                })
                .catch(error => {
                    // Handle any errors
                    console.error('Error:', error);
                });
        } else {
            alert("Property not found");
            window.location.href = "index.html";
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#carouselexit").click(function () {
                $("#overlaycarousel").toggle();
            });
        });
    </script>
</head>

<body class="bg-qq-primary font-inter text-qq-secondary">
    <header id="header"></header>
    <div id="results" class="flex flex-row px-[10%] pt-20 font-inter">

    </div>
    <div class="bg-qq-offcolor">
        <div class="ml-[3%] pt-[2%]">
            <p class="font-bold text-xl">Similar Listings</p>
            <div class="flex-grow border-3 border-qq-tertiary w-[12%] mb-[1%]"></div>
            <div class="grid grid-cols-2 gap-10 px-[7%] py-[2%]">
                <div class="bg-white flex rounded-3xl ">
                    <div class="w-[80%]">
                        <image class="rounded-tl-3xl "
                            src="https://storage.googleapis.com/quantum-quarters-property/House/kQ0xvHNm/rumah1.jpg">
                        </image>
                        <p class="text-xl bg-qq-secondary pl-[4%] pt-2 text-qq-primary">Rumah harga murah luas</p>
                        <div
                            class="flex items-center font-inter rounded-bl-3xl bg-qq-secondary pl-[4%] pb-2 text-qq-primary">
                            <p class="text-2xl">Rp.3.500.000.000</p>
                            <p class="ml-auto text-xl pr-[4%]">200m²</p>
                        </div>
                    </div>
                    <div class="text-center align-middle w-[20%]">
                        <p class="font-inter text-xl font-semibold pt-[25%]">House</p>
                        <div class="flex align-middle font-inter items-center font-semibold pl-[15%]">
                            <image class="h-[20%]" src="./asset/BedBlue.png"></image>
                            <p class="font-inter text-3xl pl-5 pt-[17%]">1</p>
                        </div>
                        <div class="flex align-middle font-inter items-center font-semibold py-[10%] pl-[15%]">
                            <image class="h-[20%] scale-75" src="./asset/BathBlue.png"></image>
                            <p class="font-inter text-3xl pl-5 pt-[10%]">2</p>
                        </div>
                        <div class="grid grid-cols-2 gap-0 scale-90 items-center">
                            <image src="./asset/GarageBlue.png" class="pt-2"></image>
                            <div>
                                <image src="./asset/FloorBlue.png"></image>
                                <div class="absolute inset-0 flex justify-center items-center">
                                    <div class="text-white pl-20 pb-4 text-xl font-bold">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-[20%] font-bold justify-end">
                            Jakarta Selatan DKI wkwkwk
                        </div>
                    </div>
                </div>
                <div class="bg-white flex rounded-3xl ">
                    <div class="w-[80%]">
                        <image class="rounded-tl-3xl "
                            src="https://storage.googleapis.com/quantum-quarters-property/House/kQ0xvHNm/rumah3.jpg">
                        </image>
                        <p class="text-xl bg-qq-secondary pl-[4%] pt-2 text-qq-primary">Ruang kosong dan tangga</p>
                        <div
                            class="flex items-center font-inter rounded-bl-3xl bg-qq-secondary pl-[4%] pb-2 text-qq-primary">
                            <p class="text-2xl">Rp.3.500.000.000</p>
                            <p class="ml-auto text-xl pr-[4%]">200m²</p>
                        </div>
                    </div>
                    <div class="text-center align-middle w-[20%]">
                        <p class="font-inter text-xl font-semibold pt-[25%]">House</p>
                        <div class="flex align-middle font-inter items-center font-semibold pl-[15%]">
                            <image class="h-[20%]" src="./asset/BedBlue.png"></image>
                            <p class="font-inter text-3xl pl-5 pt-[17%]">4</p>
                        </div>
                        <div class="flex align-middle font-inter items-center font-semibold py-[10%] pl-[15%]">
                            <image class="h-[20%] scale-75" src="./asset/BathBlue.png"></image>
                            <p class="font-inter text-3xl pl-5 pt-[10%]">3</p>
                        </div>
                        <div class="grid grid-cols-2 gap-0 scale-90 items-center">
                            <image src="./asset/GarageBlue.png" class="pt-2"></image>
                            <div>
                                <image src="./asset/FloorBlue.png"></image>
                                <div class="absolute inset-0 flex justify-center items-center">
                                    <div class="text-white pl-20 pb-4 text-xl font-bold">3</div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-[20%] font-bold justify-end">
                            Jakarta Selatan DKI wkwkwk
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer"></footer>
</body>

</html>